*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    background-image: url('tste1.svg');
    

}

nav{
    display: flex;
 
    height: 7vh;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    
}

.lista_nav{
    width: 500px;
}

.lista_nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

}
.banner {

    height: 85vh;
    background-image: url('banner.jpg');

    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0px 5px 55px 0px rgba(51,51,51,0.28); 
}

.section_from{
    background-image: url('section-grey.jpg');
    height: 300px;
    width: 100%;
   background-size: cover;
   display: flex;
  
}

.icons_from{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.icons_from img {
left: 473px;
top: 56px;

}

/* CARD STYLING */


.card,
.card_front
 {
  width: 100%;
  height: 640px;
  
}



.card-symbol {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: 'Cantata One', serif;
  font-size: 10px;  
  mix-blend-mode: lighten;
}

@supports(display:flex){
 .card_front {  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .card_front .card-symbol {  
    margin: 0 0.15em;
    
    font-size: 10px;  
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_front .card-symbol {    
  font-size: 100px;  
  margin: 5.15em;
  
}




.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);  
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
}







  .section_talk{
      background-image: url('tste1.svg');
      height: 30vw;
    width: 100%;
   background-size: cover;
  }
 .container{
    width: 70%;
    margin: 0 auto;
  } 

  
  .title_talk {
      width: 100%;
      text-align: center;
      padding-top: 60px;


  }

  .title_talk h2 {
      text-transform: uppercase;
      color: black;
  }

  .text_talk{
      font-size: 20px;
      color: black;
      width: 72%;
      margin-top: 7vh;

  }

  .icon{
    width: 100px;
    
  }
  .conteudo_talk{
      display: flex;
      justify-content: space-between;
      margin-top: 43px;
  }

  .imgs_icons{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
  }
 .icons-texts_talks{
    display: flex;
    justify-content: space-around;
 }

 .icons-titles_talk{
    display: flex;
    justify-content: space-around;
 }

 .btn{
    background-color: #fa496e;
    color: white;
    padding: 10px;  
    border-radius: 10px;
    
 }

 .btn_talk{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;

 }


 .gradient {
    position: absolute;
    z-index: -1;
    width: 90vw;
    background: #e4e4e4;
    left: 5vw;
    height: 100%;
}

.gradient:after {    
    content: "";
    position: absolute;
    background-image: linear-gradient(#FF0000 20%, #FFFF00 20%, #FFFF00 40%,#008000 40%, #008000 60%, #0000FF 60%, #0000FF 80%, #8B008B 80%);
    height: 300px;
    width: 100vw;
    left: -5vw;
    margin-top: 90px;
    z-index: -2;
  }
  
  .card1 {      
        /* position: absolute; */
        width: 78%;
        height: auto;
        padding: 25px;
        margin: auto;
        /* padding-top: 0; */
        /* padding-bottom: 0; */
        /* left: 22%; */
        /* top: 67.5px; */
        background: #ffffff;
        box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
        z-index: 5;
        /* margin-left: 114px; */
        /* margin-top: -387px; */
  }

  .cardprincipal{
    margin-top: 102px;;
}
  
  .cardw{
    width: 79%;
    height: auto;
    padding: 25px;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    /* left: 22%; */
    /* top: 67.5px; */
    background: #e4e4e4;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
    /* margin-left: 114px;
    margin-top: -387px;  */
  }

    .section_dados{
        width: 82%;
        margin: 0 auto;
        height: 23vw;
        background-image: url(assets/lgbtcry.jpg);
        background-size: 181vh 84vh;
        background-repeat: no-repeat;
        background-position: center; 

 

    }
    .title_help{
        display: flex;
        align-items: center;
        /* width: 100%; */
        /* height: 200px; */
        font-size: 31px;
    
    }
    .img_help img {
        height: 18vw;
        margin-top: 20px;
    }

    .help_subtitle{
        margin-top: 20px;
       
        width: 100%;
    }

    .help_main{
        height: auto;
    
        display: flex;
        justify-content: space-between;
    }

    

    .card_help {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.1s;
        width: 40%;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .card_help:hover {
       
          width: 42%;
       
    }
    
    .img_help {
        border-radius: 5px 5px 0 0;
    }
    
    .container_help {
        padding: 2px 16px;
    }

    .btn_help{
        display: flex;
        justify-content: space-around;
        margin-top: 3vw;
    }

    .cards_help{
        display:flex;
        justify-content: space-around;
    }

    .volunters_main{
       
    text-align: center;
    }
    .volunters_subtitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .volunters_paragraph{
        margin-left: 55px;
    }

   /* negocio de transparente chama knoucnout css */


