*{
    margin: 0;
    padding: 0;
}

body{
   
    background-color: #e4e4e4;
    /* overflow-x: hidden; */
    font-family: 'Nunito Sans', sans-serif;

}

nav{
    display: flex;
 
    height: 7vh;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    
}

ul > li a {
    text-decoration: none;
}

.lista_nav{
    width: 500px;
}

.lista_nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
   


}

.arrows{
    position: sticky;
    margin-top: -40px;

}

.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  
  .arrow-first {
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
            animation: arrow-movement 2s ease-in-out infinite;
  }
  
  .arrow-second {
    -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
            animation: arrow-movement 2s 1s ease-in-out infinite;
  }
  
  .arrow:before,
  .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
  }
  
  .arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
            transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  
  .arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
            transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  
  @-webkit-keyframes arrow-movement {
    0% {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes arrow-movement {
    0% {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

.sidebar-menu{
    display: none;
}
.bg-nav{
    background:white;
}

.navbar{
    position: fixed;
    left: 0;
    width: 100%;
}
.banner {

    height: 85vh;
    background-image: url('banner-02.png');

    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0px 5px 55px 0px rgba(51,51,51,0.28); 
}

.section_from{
    background-image: url('section-grey.jpg');
    height: 300px;
    width: 100%;
   background-size: cover;
   display: flex;
  
}

.icons_from{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.icons_from img {
left: 473px;
top: 56px;

}

/* CARD STYLING */


.card,
.card_front
 {
  width: 100%;
  height: 657px;
  
}



.card-symbol {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: 'Francois One', sans-serif;
  font-size: 10px;  
  mix-blend-mode: lighten;
}

@supports(display:flex){
 .card_front {  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
 
}

.card_front {
  position: relative;

}

.card_front .card-symbol {    
  font-size: 50px;  

  
}




.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);  
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
}







  .section_talk{
      
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 46px 0 20px 0;
  }
 .container{
    width: 95%;
    margin: 0 auto;
  } 

  
  .title_talk {
      width: 100%;
      text-align: center;
      padding-top: 60px;


  }

  .title_talk h2 {
      text-transform: uppercase;
      color: black;
  }

  .text_talk{
      font-size: 20px;
      color: black;
      width: 72%;
      margin-top: 7vh;

  }

  .icon{
    width: 100px;
    
  }
  .conteudo_talk{
      display: flex;
      justify-content: space-between;
      margin-top: 43px;
  }

  .imgs_icons{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
  }
 .icons-texts_talks{
    display: flex;
    justify-content: space-around;
 }

 .icons-titles_talk{
    display: flex;
    justify-content: space-around;
 }

 .btn{
    background-color: #fa496e;
    color: white;
    padding: 10px;  
    border-radius: 10px;
    
 }

 .btn_talk{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;

 }


 .gradient {
    position: absolute;
    z-index: -1;
    width: 94%;
    background: #e4e4e4;
    left: 5vw;
}

@keyframes animateToLeft {
    from { width: 0 }
    to {
        width: 98.79vw;
    }
}

.gradient:after {    
    content: "";
    position: absolute;
    background-image: linear-gradient(#FF0000 20%, #FFFF00 20%, #FFFF00 40%,#008000 40%, #008000 60%, #0000FF 60%, #0000FF 80%, #8B008B 80%);
    height: 300px;
    width: 0;
    left: -5vw;
    margin-top: 90px;
    z-index: -2;
    animation: animateToLeft 1.5s linear forwards;
  }


  .card1 {      
        width: 78%;
        height: auto;
        padding: 25px;
        margin: auto;
        background: #ffffff;
        box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
        z-index: 5;
       
  }

  .cardprincipal{
    margin-top: 102px;;
}
  
  .cardw{
    width: 79%;
    height: auto;
    padding: 25px;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    /* left: 22%; */
    /* top: 67.5px; */
    background: #e4e4e4;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
    /* margin-left: 114px;
    margin-top: -387px;  */
  }

    .section_dados{
        width: 82%;
        margin: 0 auto;
        height: 23vw;
        background-image: url(assets/lgbtcry.jpg);
        background-size: 181vh 84vh;
        background-repeat: no-repeat;
        background-position: center; 

 

    }
    .title_help{
        display: flex;
        align-items: center;
        /* width: 100%; */
        /* height: 200px; */
        font-size: 31px;
    
    }
    .img_help img {
        height: 18vw;
        margin-top: 20px;
    }

    .help_subtitle{
        margin-top: 20px;
       
        width: 100%;
    }

    .help_main{
        height: auto;
    
        display: flex;
        justify-content: space-between;
    }

    

    .card_help {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.1s;
        width: 30%;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .card_help:hover {
       
          width: 32%;
       
    }
    
    .img_help {
        border-radius: 5px 5px 0 0;
    }
    
    .container_help {
        padding: 2px 16px;
    }

    .btn_help{
        display: flex;
        justify-content: space-around;
        margin-top: 3vw;
    }

    .cards_help{
        display:flex;
        justify-content: space-around;
    }

    .volunters_main{
       
    text-align: center;
    }
    .volunters_subtitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .volunters_paragraph{
        margin-left: 55px;
    }

    .btn_volunters{
        display: flex;
    justify-content: center;
    }

    
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;

}

.login__button{ 
    background-color: #fa496e;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.login__button:hover{
    background-color: #f53fc7;
    color: #ffffff;
    transition: 0.3s;
}

/* FORM */
.login-modal , .login-modal1{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.login-modal--active {
    opacity: 1;
    pointer-events: all;
}

.login-modal__container{
    width: 30%;
    margin: 0 auto;
    position: relative;
}



.login-modal__button {    
    background-color: #ECDDF3;
    color: #000000;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    width: 130px;
    position: absolute;
    bottom: -50px;
    font-weight: bold;
    left: 50%;
    margin-left: -65px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.login-modal__button:hover{
    background-color: #7F479B;
    color: #ffffff;
    transition: 0.3s;
}

.login-modal__button-close{  
    background:0 0;
    color: #ffffff;
    border: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 36px;
    transition: 0.3s;
    cursor: pointer;
}



.contato{
    width: 30%;
    margin: 0 auto;
    position: relative;
}

.contato__title{
    color: #7F479B;
    position: absolute;
    top: -60px;
}

.contato__subtitle{
    color: #7F479B;
    background-color: #ECDDF3;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.contato__form-group{
    position: relative;
    width: 100%;
}

.contato__label{
    display: block;
    color: #ffffff;
}

.contato__input{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ECDDF3;
    padding: 10px;
    font-size: 14px;
}

.contato__button {    
    background-color: #7F479B;
    color: #ffffff;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    width: 130px;
    position: absolute;
    bottom: -50px;
    font-weight: bold;
    left: 50%;
    margin-left: -65px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.contato__button:hover{
    background-color: #462755;
    color: #ECDDF3;
    transition: 0.3s;
}

footer{
    width: 100%;
    height: 100%;
    background-color: darkmagenta;
    text-align: center;
    color: black;

}



.footer_icons  img {
    height: 2vw;
    margin-top: 20px;
    margin-left: 10px;
}

.footer_icons a {
    text-decoration: none;
}


@media(max-width:768px){

    .sidebar-menu{
        display:inline;
    }


    .sidebar-menu{
        background-color: white;
        box-shadow: 1px 0px 15px 0px;
        height: 100vh;
        position: fixed;
        width: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        transition: 1s;
    }
    
    .sidebar-menu__visible{
        left: 0;
    }
    
    .sidebar-menu__hidden{
        left: -440px;
    }
    
    .sidebar-menu__button{
        position: absolute;
        top: 15px;
        right: -70px;
        border: 0;
        background: 0 0;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .sidebar-menu__nav{
        height: 60%;
    }
    
    .sidebar-menu__list{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sidebar-menu__item-list{
        list-style: none;
    
    }
    
    .sidebar-menu__link{
        color: inherit;
        text-decoration: none;
    }
    
    .lista_nav{
        display: none;
    }

    nav{
        background-color:transparent;
    }
    .banner{
        background-position: bottom;
    }
    
    .bg-nav{
        background-color: transparent;
    }
 
    .conteudo_talk img {
        width: 40%;
    }

    .text_talk{
        width: 100%;
        text-align: justify;
        font-size: 13px;
    }
    .card1{
        padding: 15px;
    }

    .container{
        width: 100%;

    }

    .conteudo_talk img {
        width: 25%;
        margin-left: 16px;
    }

    .volunters_paragraph{
        text-align: justify;
        font-size: 13px;
    }

    .title_volunters h1{
        margin-bottom: 25px;
    }

    .volunters_subtitle{
        display: block;
    }

    .section_talk{
        grid-template-columns:none;
        grid-row-gap: 42px;
    }
    .container_talk{
        display: flex;
        align-items: center;
        
        flex-direction: column;
    }
    .img_help{
        text-align: center;
    } 
    
    .img_help img {
        height: 31vw;
    }

    .cards_help{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card_help{
        width: 83%;
    }
    .card_help:hover{
        width: 86%;
    }

    .footer_icons img{
        height: 5vw;
    }


}


    

    
   /* negocio de transparente chama knoucnout css */


